<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h2>All Admins</h2>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Add Admin', new_admin_path, class: "btn btn-success pull-right header-component" %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Admin E-Mail</th>
          <th>Admin Role</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td>
              <%= form_for(admin, url: update_roles_admin_path(admin)) do |f| %>
                <%= select_tag "roles_mask", options_for_select([["Super Admin", 1], ["Admin", 2], ["Gatekeeper", 4]], admin.roles_mask), class: "role-selector" %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <% end %>
            </td>
            <td><%= link_to 'Edit Admin Details', edit_admin_path(admin), class: "btn btn-xs btn-warning" %></td>
            <td><%= link_to 'Delete Admin', admin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
