<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>New Admin</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Cancel'.html_safe, admins_path, class: "btn btn-danger pull-right header-component" %>
			</div>
		</div>

		<%= form_for(@admin) do |f| %>
		<% if @admin.errors.any? %>
		<div id="error_explanation" class="alert alert-danger">
			<p><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</p>

			<ul>
				<% @admin.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email, class: "form-control", autofocus: true, autocomplete: "off" %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="form-group">
				<%= f.label :password %> <i>(8 characters minimum)</i>
					<%= f.password_field :password, class: "form-control", autocomplete: "off" %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="form-group">
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>Role</h3>
			</div>
			<div class="col-xs-12">
				<%= f.radio_button :roles_mask, "1", checked: true %>
				<%= f.label :roles_mask, "Super Admin", :value => "1" %>
			</div>
			<div class="col-xs-12">
				<%= f.radio_button :roles_mask, "2" %>
				<%= f.label :roles_mask, "Admin", :value => "2" %>
			</div>
			<div class="col-xs-12">
				<%= f.radio_button :roles_mask, "4" %>
				<%= f.label :roles_mask, "Gatekeeper", :value => "4" %>
			</div>
		</div>
		<div class="actions">
			<%= f.submit class: "btn btn-primary" %>
		</div>
		<% end %>
	</div>
</div>