<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h3>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :student_id, "Student ID" %>
        <%= f.text_field :student_id, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="form-group">
        <%= f.label :contact_number %>
        <%= f.text_field :contact_number, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>