<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h2>All Students</h2>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Add Student', new_student_path, class: "btn btn-success pull-right header-component" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-11 col-sm-6 col-md-4">
      <%= form_tag(students_path, :remote => true, :method => "get", id: "search-form") do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search name, id, email, phone" %>
          <span class="input-group-btn">
            <%= button_tag "Search", :name => nil, class: 'btn btn-default' %>
          </span>
        </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
      <%= button_tag "", :name => nil, class: 'btn btn-default glyphicon glyphicon-remove', id: "clear-search-button" %>
      <% end %>
      </div>
    </div>

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact number</th>
          <th>Member?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody id="students-table-body">
        <%= render 'student' %>
      </tbody>
    </table>
    
  </div>
</div>
