<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h2>All Students</h2>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Add Student', new_student_path, class: "btn btn-success pull-right header-component" %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <%= form_tag(students_path, :method => "get", id: "search-form") do %>
          <div class="input-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search name, id, email, phone" %>
            <span class="input-group-btn">
              <%= button_tag "Search", :name => nil, class: 'btn btn-default' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Contact number</th>
          <th>Member?</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.student_id %></td>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td><%= student.contact_number %></td>
            <td>
              <% if student.member %>
                <span class="glyphicon glyphicon-user glyphicon-member"></span>
              <% else %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %>
            </td>
            <td><%= link_to 'View Details', student %></td>
            <td><%= link_to 'Edit Details', edit_student_path(student) %></td>
            <!--<td><%= link_to 'Edit', edit_student_path(student) %></td>
            <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
