<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>
					<% if @student.member %>
						<span class="glyphicon glyphicon-user glyphicon-member"></span>
					<% else %>
						<span class="glyphicon glyphicon-user"></span>
					<% end %>
					<%= @student.name %>
				</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Back to All Students'.html_safe, students_path, class: 'btn btn-warning pull-right header-component' %>
			</div>
		</div>

		<p>
			<strong>Email:</strong>
			<%= @student.email %>
		</p>
		
		<p>
			<strong>Contact number:</strong>
			<%= @student.contact_number %>
		</p>

		<p>
			<strong>Student ID:</strong>
			<%= @student.student_id %>
		</p>

		<h3>Tickets bought:</h3>
		<% if @student.tickets.empty? %>
			<p>No tickets have been bought</p>
		<% else %>
			<ul>
				<% @student.tickets.each do |t| %>
				<li>
					<%= link_to "#{t.event.code}#{t.serial_number}", t %> on 
					<%= t.created_at.to_date %>
				</li>
				<% end %>
			</ul>
		<% end %>
	</div>
</div>
