<div class="row">
	<div class="col-xs-12">
		<p>
			<%= notice %>
		</p>

		<h2>
		  <%= @student.name %>
		</h2>

		<p>
		  <strong>Email:</strong>
		  <%= @student.email %>
		</p>

		<p>
		  <strong>Contact number:</strong>
		  <%= @student.contact_number %>
		</p>

		<p>
		  <strong>Student ID:</strong>
		  <%= @student.student_id %>
		</p>

		<h3>Tickets bought:</h3>
		<ul>
		<% @student.tickets.each do |t| %>
			<li>
				<%= t.serial_number %> on 
				<%= t.created_at.to_date %>
			</li>
		<% end %>
		</ul>
	</div>
</div>
