<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-6">
        <h2>All Events</h2>
      </div>
      <% if can? :new, Event %>
      <div class="col-xs-6">
        <%= link_to 'Add Event', new_event_path, class: "btn btn-success pull-right header-component" %>
      </div>
      <% end %>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Member Price</th>
          <th>Non-member Price</th>
          <th>Serial Number Range</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= can?(:show, Event) ? link_to(event.name, event) : event.name %></td>
            <td>RM <%= number_with_precision(event.member_price, :precision => 2) %></td>
            <td>RM <%= number_with_precision(event.non_member_price, :precision => 2) %></td>
            <td><%= event.starting_serial %> - <%= event.ending_serial %></td>
            <td><%= link_to 'Edit Details', edit_event_path(event) if can? :edit, Event %></td>
            <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, Event %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
