<div class="row">
  <div class="col-xs-12">
    <% if !notice.nil? %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <h2>All Events</h2>
      </div>
      <div class="col-xs-6">
        <%= link_to 'Add Event', new_event_path, class: "btn btn-success pull-right header-component" %>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Code</th>
          <th>Member Price</th>
          <th>Non-member Price</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.code %></td>
            <td>RM <%= number_with_precision(event.member_price, :precision => 2) %></td>
            <td>RM <%= number_with_precision(event.non_member_price, :precision => 2) %></td>
            <td><%= link_to 'View Details', event %></td>
            <td><%= link_to 'Edit Details', edit_event_path(event) %></td>
            <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
