<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>
					Details for 
				  	<%= @event.name %>
				</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Back to All Events'.html_safe, events_path, class: 'btn btn-warning pull-right header-component' %>
			</div>
		</div>

		<p>
		  <strong>Event Code:</strong>
		  <%= @event.code %>
		</p>
		<p>
		  <strong>Member Price:</strong>
		  RM <%= number_with_precision(@event.member_price, :precision => 2) %>
		</p>
		<p>
		  <strong>Non-member Price:</strong>
		  RM <%= number_with_precision(@event.non_member_price, :precision => 2) %>
		</p>
	</div>
</div>