<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>
					Details for 
				  	<%= @event.name %>
				</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Back to All Events'.html_safe, events_path, class: 'btn btn-warning pull-right header-component' %>
			</div>
		</div>

		<p>
		  <strong>Member Price:</strong>
		  RM <%= number_with_precision(@event.member_price, :precision => 2) %>
		</p>
		<p>
		  <strong>Non-member Price:</strong>
		  RM <%= number_with_precision(@event.non_member_price, :precision => 2) %>
		</p>
		<p>
		  <strong>Serial Number Range</strong>
		  <%= @event.starting_serial %> - <%= @event.ending_serial %>
		</p>

		<hr>

		<div class="row">
			<div class="col-xs-12" id="checkout-all">
				<h3>Tickets Checked-in</h3>
				<div id="attendace-table">
				<%= render "checkout_all" %>
				</div>
			</div>
		</div>
	</div>
</div>