<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</p>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :student_id, "Student ID" %>
        <%= f.autocomplete_field :student_id, autocomplete_student_student_id_students_path, :id_element => '#s_id_field', class: "form-control" %>
        <%= f.hidden_field :student_id, id: "s_id_field" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :serial_number, "Ticket Serial Number" %>
        <% if params[:sn].nil? %>
          <%= f.text_field :serial_number, class: "form-control" %>
        <% else %>
          <%= f.text_field :serial_number, :disabled => true, class: "form-control" %>
          <%= f.hidden_field :serial_number, value: params[:sn] %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <%= f.label :event_id, "Event Code" %>
        <% if params[:ec].nil? %>
          <%= f.autocomplete_field :event_id, autocomplete_event_code_events_path, :id_element => '#e_id_field', class: "form-control" %>
          <%= f.hidden_field :event_id, id: "e_id_field" %>
        <% else %>
          <%= f.text_field :event_id, value: params[:ecs], :disabled => true, class: "form-control" %>
          <%= f.hidden_field :event_id, value: params[:ec] %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
