<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :serial_number %>
    <%= f.text_field :serial_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :student_id %>
    <% students = @students_array.map { |student| [student.name + " (" + student.student_id + ")", student.id] } %>
    <%= select :ticket, :student_id, students, class: "form-control" %>  
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-small btn-primary" %>
  </div>
<% end %>
