<div class="row">
  <div class="col-xs-12">
    <h2>All Tickets</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Serial number</th>
          <th>Buyer</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.serial_number %></td>
            <td><%= link_to "#{ticket.student.name} (#{ticket.student.student_id})", ticket.student %></td>
            <td><%= link_to 'Details', ticket %></td>
            <!--<td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Ticket', new_ticket_path %>

  </div>
</div>
