<div class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-6">
				<h2>
					<% if @ticket.member %>
					<span class="glyphicon glyphicon-credit-card glyphicon-member"></span>
					<% else %>
					<span class="glyphicon glyphicon-credit-card"></span>
					<% end %>
					Ticket
					<%= "#{@ticket.event.code}#{@ticket.serial_number}" %>
				</h2>
			</div>
			<div class="col-xs-6">
				<%= link_to '&larr; Back to All Tickets'.html_safe, tickets_path, class: 'btn btn-warning pull-right header-component' %>
			</div>
		</div>

		<p>
			<strong>Buyer ID:</strong>
			<%= @ticket.student.student_id %>
		</p>
		<p>
			<strong>Buyer Name:</strong>
			<%= @ticket.student.name %>
		</p>
		<p>
			<strong>Event Name:</strong>
			<%= @ticket.event.name %>
		</p>
		<p>
			<strong>Member Ticket?</strong>
			<%= @ticket.member ? "Yes" : "No" %>
		</p>
		<p>
			<strong>Buyer Contact:</strong>
			<%= @ticket.student.contact_number %> | 
			<%= @ticket.student.email %>
		</p>

		<hr>

		<div class="row">
			<div class="col-xs-12" id="attendance-toggle">
				<%= render "button" %>
			</div>
		</div>
	</div>
</div>