<div class="row">
	<div class="col-xs-12">
		<% if !notice.nil? %>
			<p id="notice" class="alert alert-info"><%= notice %></p>
		<% end %>
		<p><%= link_to '&larr; Back to All Tickets'.html_safe, tickets_path %></p>
		<h2>
			Details for Ticket ID 
		  	<%= @ticket.serial_number %>
		</h2>

		<p>
		  <strong>Buyer ID:</strong>
		  <%= @ticket.student.student_id %>
		</p>
		<p>
		  <strong>Buyer Name:</strong>
		  <%= @ticket.student.name %>
		</p>
		<p>
		  <strong>Buyer Contact:</strong>
		  <%= @ticket.student.contact_number %> | 
		  <%= @ticket.student.email %>
		</p>
	</div>
</div>