<p id="notice"><%= notice %></p>

<p>
  <strong>Serial number:</strong>
  <%= @ticket.serial_number %>
</p>

<p>
  <strong>Student ID:</strong>
  <%= @ticket.student.id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
