<!DOCTYPE html>
<html lang="en">
<head>
	<title>Music Society Ticketing System</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to "MSTS", root_path, class: "navbar-brand" %>
			</div>

			<div class="collapse navbar-collapse" id="head-navbar-collapse">
				<ul class="nav navbar-nav">
					<li><%= link_to "Students List", students_path %></li>
					<li><%= link_to "Tickets List", tickets_path %></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<div class="container" id="main-container">
		<%= yield %>
	</div>
	<hr>
	<footer class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>&copy; 2014 || Lovingly coded by <%= link_to "Syafiq Kamarul Azman", "http://github.com/syaffers" %></p>
			</div>
		</div>
	</footer>
</body>
</html>
